# Byte-compiled / optimised files
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Tool caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Environments
.env
.venv
venv/

# Editor / OS
.idea/
.vscode/
.DS_Store